In [19]:
import pandas as pd

In [20]:
df=pd.read_csv("Book78.csv")
df

   CGPA  communication  aptitude  programming  job offer
0     2              1         0            0          0
1     2              0         1            1          1
2     1              1         1            0          1
3     1              0         0            1          0
4     0              1         1            1          1
5     0              1         0            0          0
6     1              0         1            1          1
7     2              1         1            0          1
8     0              0         1            0          0
9     1              1         0            1          0

In [21]:
y=df["job offer"]
x=df.drop("job offer", axis=1)
print(x.shape, y.shape)

(10, 4) (10,)

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
x_train, x_test, y_train, y_test=train_test_split(x,y, test_size=0.2, random_state=2)

In [24]:
from sklearn.tree import DecisionTreeClassifier
te=DecisionTreeClassifier(criterion='entropy', max_depth=27)

In [25]:
model=te.fit(x_train, y_train)

In [26]:
y_pred=te.predict(x_test)
y_pred

array([0, 1], dtype=int64)

In [27]:
from sklearn import tree
gr=tree.export_text(te)
print(gr)

|--- feature_2 <= 0.50
|   |--- class: 0
|--- feature_2 >  0.50
|   |--- feature_0 <= 0.50
|   |   |--- class: 0
|   |--- feature_0 >  0.50
|   |   |--- class: 1

In [29]:
pre=[[1,1,1,1]]
test_data=te.predict(pre)
test_data

array([1], dtype=int64)